/* Default styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}

.primary-btn {
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.4s;
}

.primary-btn:hover {
    background-color: #e6355c;
}

.section-heading {
    max-width: 450px;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 18px;
}

.section-heading p {
    line-height: 30px;
}

/* header section styles */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-content {
    width: 525px;
}

.banner .banner-content * {
    margin-bottom: 32px;
}

.banner .banner-content h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner .banner-image img {
    width: 100%;
}

/* featured section style */
#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 24px;
}

.section-content .flower .flower-image {
    border-radius: 300px 300px 0px 0px;
    padding: 30px 70px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-image img {
    width: 100%;
}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background: rgba(71, 125, 17, 0.15);
}


.section-content .flower p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 24px;
}

.items {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    padding: 64px 0;
}

.items .item img {
    margin-bottom: 18px;
}

.items .item .item-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}